html,
body {
  margin: 0;
  font-family: '나눔스퀘어', 'NanumSquare', -apple-system, BlinkMacSystemFont,
    'Segoe UI', 'Roboto', 'Ubuntu', 'Canterell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app {
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 100%;
}

button {
  font-size: calc(10px + 2vmin);
}

.flex {
  display: flex;
}
.flex-justify-center {
  display: flex;
  justify-content: center;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-colunm {
  display: flex;
  flex-direction: column;
}
.flex-row {
  display: flex;
  flex-wrap: wrap;
}

.flex-space-between {
  display: flex;
  justify-content: space-between;
}

.font-14-center {
  text-align: center;
  font-size: 14px;
}

#nprogress .bar {
  background: linear-gradient(
    to left,
    #ef3b36,
    #ffffff
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
#nprogress .peg {
  box-shadow: 0 0 10px #ffbb00, 0 0 5px #ffbb00;
}
canvas {
  /* width: 100%;
  height: auto; */
  background: #111;
}

.ant-tabs-tab-btn {
  color: white !important;
}
.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: rgb(135, 208, 104) !important;
  font-weight: 500;
}
